.section {
    display: flex;
    justify-content: center;
    align-items: center;
margin: 16px;
width: 375px;
height: 780px;
top: 196px;
left: 242px;
border-radius: 16px;

}

.username {
    margin-bottom: 8px
}

.mat-mdc-card {
    max-width: 430px;
}