.video-content 
{
    display: flex;
    height: auto;
    width: auto;
    
  
}
.content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500 px;
    width: 800 px;
}